.info-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: var(--padding-3) var(--padding-3);

    width: auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    
    border: var(--border-2);
    border-radius: var(--border-radius-1);
    
    background: linear-gradient(45deg, var(--header-background-color-4), var(--header-background-color-3));

    img {
        aspect-ratio: 1 / 1;
        width: 30%;
        height: auto;
        align-self: center;
        margin: var(--padding-2);
        border-radius: var(--border-radius-2);
    }

    .info-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        padding: var(--padding-2) var(--padding-2);

        width: 100%;

        .info-header-row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;

            h2 {
                flex: 1;
                margin-bottom: var(--padding-3);
            }
            margin-bottom: var(--padding-3);
        }

        .info-buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--padding-3);
        }

        .info-button {
            padding: var(--padding-3) var(--padding-2);
            background-color: var(--header-background-color-4);

            color: var(--body-text-color-1);
            text-decoration: none;

            border: var(--border-1);
            border-radius: var(--border-radius-2);
            font-size: var(--body-font-size-3);
            font-weight: var(--font-weight-1);
            transition: background-color var(--transition-3);

            &:hover {
                background-color: var(--detail-color-2);
            }
        }

        .header-divider {
            height: var(--padding-3);
            width: 100%;

            background-color: var(--detail-color-2);
            border: var(--border-1);
            border-radius: var(--border-radius-2);

            margin-top: var(--padding-3);
        }

        h2 {
            white-space: pre-line;
            margin: 0 0;
            color: var(--header-text-color-2);
            font-size: var(--header-font-size-1);
        }

        p {
            white-space: pre-line;
            text-align: start;
            color: var(--body-text-color-1);
            font-size: var(--body-font-size-3);
        }

        .info-notes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;

            width: 100%;

            .info-note {
                display: flex;
                flex-direction: column;
                gap: var(--padding-4);
                align-items: stretch;

                .info-note-body {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    flex-wrap: wrap;

                    strong {
                        white-space: pre-line;
                        font-size: var(--body-font-size-4);
                        color: var(--body-text-color-1);
                        font-weight: var(--font-weight-1);
                    }

                    span {
                        white-space: pre-line;
                        font-size: var(--body-font-size-4);
                        color: var(--body-text-color-1);
                    }

                    a {
                        white-space: pre-line;
                        font-size: var(--body-font-size-4);
                        color: var(--detail-color-2);
                    }
                }

                .note-divider {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .info-block {
        flex-direction: column;
        align-items: stretch;
        flex: unset !important;
        width: 100%;

        img {
            align-self: center;
        }

        .info-notes {
            width: 100%;
        }
    }
}