.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--padding-2);
}

@media (max-width: 768px) {
    .flex-container-wrap {
        flex-direction: column;
        gap: var(--padding-3);
    }
}